// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$blurple: #7289DA;
$grayple: #99AAB5;
$dbnb: #2C2F33;
$nqb: #1F2833;
$lightblue: #66FCF1;
$lowblue: #45A29E;
$sharppurple: #3500D3;


$body-background-color: $nqb;
$card-background-color: $dbnb;

$dark: $nqb;
$info: $blurple;
$link: $lowblue;
$success: $sharppurple;
$primary: $lightblue;
